.List {
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  width: 20rem;
  min-height: 8rem;
  border-radius: 1.5rem;
  box-shadow: 0.5rem 0.5rem 0.4rem -0.3rem #0000004d;
  text-align: center;
}

.List-name {
  font-size: 1.4rem;
}

.List input[type="text"] {
  margin-top: 0.5rem;
  outline: none;
  height: 3rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(124, 124, 124);
}

.List input[type="text"]:focus {
  border-bottom: 2px solid rgb(59, 216, 177);
}
